nav{
    display: flex;
    margin: 5px;
    padding: 5px;
    flex-direction: row-reverse;
    vertical-align: baseline;
    padding: 5px;
}
a{
    border-bottom: 1px rgb(43, 41,41) solid;
    padding: 10px;
    text-decoration: none;
    color: white;
    margin-left: 10px;
}
body{
    background-color: rgb(43, 41, 41);
}
a:hover{
    border-bottom: 1px white solid;
    transition-duration: 0.4s;
}
.logo{
    display: flex;
    justify-content: center;
    margin-top: 9rem;
}
.bar{
    display: flex;
    /* border: 0.5px solid rgb(142, 140, 140); */
    /* width: 600px; */
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    margin-top: 35px;
    height: 50px;
    border-radius: 40px;
}
.sicon img{
    width: 30px;
    height: 30px;
    margin-bottom: 15px;
    position: relative;
    left: 40px;
}
.mcicon img{
    width: 70px;
    height: 35px;
    margin-bottom: 15px;
    position: relative;
    right: 85px;
}
/* .bar:hover{
    background-color:rgb(73, 72, 72) ;
    border: none;
    box-shadow: 0px 0px 10px rgb(44, 44, 44) ;
    transition-duration: 0.6s;
} */
input.glFyf{
    color: white;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 0px 50px;
    padding-right: 90px;
    height: 50px;
    width: 600px;
    background-color: rgb(43, 41, 41);
    border: 1px solid rgb(160, 158, 158);
    border-radius: 40px;
}
input.glFyf:hover{
    border: none;
    background-color:rgb(73, 72, 72) ;
    box-shadow: 0px 0px 500px black;
    transition-duration: 0.6s;
}
input.glFyf:focus{
    outline: none;
    background-color:rgb(73, 72, 72) ;
    border: rgb(73, 72, 72) ;
}
.buttons{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: white;
}
a.button1{
    margin-right: 10px;
    border: none;
    background-color: rgb(73, 72, 72);
    padding: 10px 15px;
}
a.button2{
    margin-left: 10px;
    border: none;
    background-color: rgb(73, 72, 72);
    padding: 10px 15px;
}
a.button1:hover{
    box-shadow: 0px 0px 20px rgb(69, 69, 69);
    transition-duration: 0.4s;
}
a.button2:hover{
    box-shadow: 0px 0px 20px rgb(69, 69, 69);
    transition-duration: 0.4s;
}
nav .sign{
    margin-left: 20px;
    font-family: Google Sans,Roboto,Helvetica,Arial,sans-serif;
    background-color: lightskyblue;
    color: black;
    border-radius: 7px;
    padding: 10px 20px;
    border: none;
}
nav .sign:hover{
    box-shadow: 0px 0px 20px rgb(90, 90, 90);
}
.footer{
    display: flex;
    flex-direction: column;
    margin-top: 250px;
    color: rgb(193, 190, 190);
}
.footer a{
    color: rgb(193, 190, 190);
}
.country{
    padding-left: 20px;
}
.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.left{
    display: flex;
    flex-direction: row;
}
.right{
    display: flex;
    flex-direction: row;
}